.currencyExchanger {
  width: 800px;
}

.currencyExchangerHeader {
  margin-bottom: 10px;
}

.currencyExchangerPrimaryTitle {
  display: block;
  font-size: 16px;
  color: #878787;
  margin-bottom: 4px;
}

.currencyExchangerSecondaryTitle {
  display: block;
  font-size: 36px;
  color: #212121;
}

.currencyExchangerBody {
  display: flex;
}

.currencyExchangerInputs {
  flex: 1;
}

.currencyExchangerChart {
  flex: 1;
}

.test {
  background-color: red;
  color: pink;
}
